#navbar{
    flex-direction: column;
    align-items: center;
}

.left{
    margin: 5px 0px;
}

.middle{
    margin: 5px 0px;
}

.right{
    flex-direction: column;
    margin: 5px 0px;
}

.right div{
    margin: 5px 0px;
}
